name: BuildTools
on:
  push:
  schedule:
    - cron: '0 */4 * * *'  
jobs:
  build:
    name: build hackbin docker image
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 1
    - name: build tools docker image
      run: |
          echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
          # echo "$ALI_PASS" | docker login registry.aliyuncs.com -u "$ALI_USER" --password-stdin
          set -x
          ./build.sh
          docker logout
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        ALI_PASS: ${{ secrets.ALI_PASS }}
        ALI_USER: ${{ secrets.ALI_USER }}        
